---
---

@import "minima";

.footer-col-1 {
  width: -webkit-calc(30% - (30px / 2));
  width: calc(30% - (30px / 2)); 
}

.footer-col-2 {
  width: -webkit-calc(25% - (30px / 2));
  width: calc(25% - (30px / 2));
}

.post-link {
  font-size: 20px;
}

.post-list > li {
  margin-bottom: 15px;
}
